[Unit]
Description=SkyDNS Service
Requires=flanneld.service
After=flanneld.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull dawi2332/skydns
ExecStart=/usr/bin/bash -c '\
/usr/bin/docker run --name %n \
-p ${COREOS_PRIVATE_IPV4}:53:53/udp \
dawi2332/skydns -nameserver `sed -n "s/^nameserver \(.*\)/\1/p" < /etc/resolv.conf`:53 -domain docker'
ExecStop=/usr/bin/docker stop %n
ExecStopPost=/usr/bin/docker rm %n
Restart=on-failure

[X-Fleet]
Global=true
